run = "electron . --no-sandbox"

onBoot = "npm install"
entrypoint = "index.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-18:v3-20230608-f4cd419"]

[nix]
channel = "stable-23_05"

[deployment]
run = "electron . --no-sandbox"
deploymentTarget = "cloudrun"
ignorePorts = false